@import "../App/colors";

.pokemons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  transition: opacity 2s;
}

.pkmns_not_found {
  font-family: 'pokemon-font', monospace;
  position: absolute;
  left: 50%;
  margin-left: -162.5px;
  text-align: center;
  padding-top: 70px;
  font-size: 30px;

  .mad_pikachu {
    background: url("../../images/crying_pikachu.gif") center no-repeat;
    width: 200px;
    height: 200px;
    background-size: contain;
    position: absolute;
    left: 50%;
    margin-top: -20px;
    margin-left: -100px;
  }
}

.compare_button {
  background-color: $search-btn;
  box-shadow: 1px 1px $border-color;
  font-family: 'pokemon-font', monospace;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  position: relative;
  top: 20px;
  left: 50%;
  margin-left: -100px;
}