@import "../App/colors";

.back_btn {
  background-color: $search-btn;
  font-family: 'pokemon-font', monospace;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  position: relative;
  left: 50%;
  margin-left: -100px;
  top: 30px;
}
.pokemon_comparison {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  width: 600px;
  height: 450px;
  background-color: rgba(white, 0.8);
  box-shadow: 1px 1px 2px 2px $border-color;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'pokemon-font', monospace;

  @media screen and (max-width: 460px) {
    flex-direction: column;
    width: 400px;
    height: 1000px;
  }

  .first_pokemon,
  .second_pokemon {
    padding: 10px;
  }
  img {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100px;
    height: 100px;

  }

  .stats_list {
    display: flex;

    @media screen and (max-width: 460px) {
      flex-wrap: wrap;
      justify-content: center;

    }

    .stats_table {
      padding: 10px;
      margin-top: 5px;
      text-align: left;

      @media screen and (max-width: 460px) {
        text-align: center;
      }

    }

    span {
      text-transform: uppercase;
    }

    td {
      padding: 3px;

    }

    .table_one,
    .table_two,
    .stats_table {
      @media screen and (max-width: 460px){

      }

    }

  }

}

