@import "../App/colors";

.singlePokemon {
  list-style: none;
  width: 300px;
  height: 100px;
  font-family: 'pokemon-font', monospace;
  font-size: 20px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  padding-top: 40px;
  background-color: rgba(white, 0.8);
  box-shadow: 1px 1px 2px 2px $border-color;
  user-select: none;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}