@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba($search-btn, 0.2) url('../../images/pokeball-1594373_960_720edited.png') no-repeat fixed center;
  background-size: contain;
}

