.logo {
  position: relative;
  left: 50%;
  margin-top: 20px;
}

.logo_background {
  background: url('../../images/pokemon-logo.png');
  background-size: contain;
  width: 500px;
  height: 184px;
  margin-left: -250px;

  @media screen and (max-width: 480px) {
    background: url('../../images/pokemon-logo.png');
    background-size: contain;
    width: 250px;
    height: 92px;
    margin-left: -125px;
  }

  .logo_text {
    font-family: 'pokemon-font', monospace;
    position: absolute;
    font-size: 25px;
    margin-left: -135.5px;
    top: 80%;

    @media screen and (max-width: 480px) {
      font-family: 'pokemon-font', monospace;
      position: absolute;
      margin-left: -67.75px;
      top: 80%;
      font-size: 12.5px;
    }

  }

}




