@import "../App/colors";

.buttons {
  position: relative;

  .button {
    position: absolute;
    top: 30px;
    height: 30px;
    width: 100px;
    background-color: $search-btn;
    border: 2px solid lighten($search-btn, 20);
    font-family: 'pokemon-font', monospace;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    transition: transform;
    color: white;
    font-weight: bold;

    &:hover {
      transform: scale(1.1)
    }
  }

  button:disabled {
    color: darkgrey;
  }

  .previous_btn {
    left: 5%;
  }

  .next_btn {
    margin-bottom: 20px;
    right: 5%;
  }

  p {
    position: absolute;
    top: 40px;
    right: 50%;
    font-family: 'pokemon-font', monospace;

    @media screen and (min-width: 460px) and (max-width: 768px) {
      right: 47%;
    }

    @media screen and (max-width: 459px){
      right: 45%;
    }
  }
}
